
.container {
    display: flex;
    flex-direction: column;
    height:100px;
    padding: 10px;
    background: white;
    margin: 45px auto;
    
}

.item {
    flex-grow:1;
    height:20px;
    padding:5px;
    margin: 3px;
    background: rgb(170, 170, 170);
    border-radius: 3px;
}

/* -----pages------- */
.painting {
    max-width: 880px;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .child {
  position: absolute;
  top: 50px;
  left: 20%;
  }



@media only screen and (min-width: 769px){
    .container {
        align-content: left;
        display: flex;
        flex-direction: row;
        height:100px;
        padding: 10px;
        background: white;
        margin: 45px auto;}
    
    
    .item {
        height:60px;
        flex-grow: 1;
        padding:5px;
        margin: 3px;
        color: white;
        background: rgb(170, 170, 170);
        border-radius: 3px;}
    }