
.container {
    display: flex;
    flex-direction: column;
    height:100px;
    padding: 10px;
    background: white;
    margin: 45px auto;
}

.item {
    height:20px;
    padding:5px;
    margin: 3px;
    color: white;
    background: rgb(170, 170, 170);
    border-radius: 3px;
}




@media only screen and (min-width: 768px){
    .container {
        display: flex;
        flex-direction: row;
        height:100px;
        padding: 10px;
        background: white;
        margin: 45px auto;
    }
    
    .item {
        height:60px;
        flex-grow: 1;
        padding:5px;
        margin: 3px;
        color: white;
        background: rgb(170, 170, 170);
        border-radius: 3px;
    }